[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
click = "*"
mongomock = "*"
pymongo = "*"
sklearn = "*"
scipy = "*"
numpy = "*"
schema = "*"

[dev-packages]
nose = "*"

[requires]
python_version = "3.6"
