[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

hyperopt = "*"
docker = "*"
click = "*"
networkx = "==1.11"
dill = "*"


[dev-packages]



[requires]

python_version = "3.6"
