<template name="trialqueue">
  <h2>Trial Queue</h2>

  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Docker Image</th>
      <th>Start Time</th>
      <th>Progress</th>
    </thead>
    <tbody>
    {{#each trialqueue}}
      <tr>
        <td><a href="{{pathFor route='Trial' trialId=_id}}">{{name}}</a></td>
        <td>{{data.docker.image}}</td>
        <td>{{niceTime start_time}}</td>
        <td>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: {{trialProgress _id}}%;" aria-valuenow="{{trialProgress _id}}" aria-valuemin="0" aria-valuemax="100">{{trialProgress _id}}%</div>
          </div>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

 {{#autoForm schema=TrialInsertSchema id="insertTrial" type="method" meteormethod="trialqueue.insert" validation="submitThenKeyup"}}
   <fieldset>
     <legend>Add Trial</legend>
   </fieldset>
   {{> afQuickField name="name"}}
   {{> afQuickField name="docker_image"}}
   {{> afQuickField name="docker_runtime"}}
   {{> afQuickField name="data_path"}}
   {{> afQuickField name="results_path"}}
   {{> afQuickField name="param_space" rows=10}}
   {{> afQuickField name="docker_environment" rows=10}}
   {{> afQuickField name="retries"}}
   <button type="submit" class="btn btn-primary">Add Trial</button>
  {{/autoForm}}

  <a class="" data-toggle="collapse" href="#collapseTrialHistory" role="button" aria-expanded="false" aria-controls="collapseTrialHistory">
    <h2>Finished Trials</h2>
  </a>
  <div class="collapse" id="collapseTrialHistory">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Docker Image</th>
        <th>Start Time</th>
        <th>End Time</th>
      </thead>
      <tbody>
      {{#each trialhistory}}
        <tr>
          <td><a href="{{pathFor route='Trial' trialId=_id}}">{{name}}</a></td>
          <td>{{data.docker.image}}</td>
          <td>{{niceTime start_time}}</td>
          <td>{{niceTime end_time}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

</template>
