<template name="workqueue">
  <h2>Work Queue</h2>

  <table class="table table-hover">
    <thead>
      <th>Actions</th>
      <th>Id</th>
      <th>Host</th>
      <th>Start Time</th>
      <th>Result</th>
    </thead>
    <tbody>
    {{#each workqueue}}
      <tr class="{{rowColor}}" id="workRow-{{_id}}">
        <td>
          {{#if notCancellable}}
          <div class="btn btn-danger" disabled>Cancel</div>
          {{else}}
          <div class="btn btn-danger cancel-work" data-id={{_id}}>Cancel</div>
          {{/if}}
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseLogs-{{_id}}" role="button" aria-expanded="false" aria-controls="collapseLogs-{{_id}}">Info</a></td>
        <td><a href="/job/{{_id}}">{{_id}}</a></td>
        <td>{{getHost worker}}</td>
        <td>{{niceTime start_time}}</td>
        <td>{{resultSummary}}</td>
      </tr>
      <tr class="{{rowColor}} collapse" id="collapseLogs-{{_id}}">
        <td colspan="6">
        <h5>Details</h5>
        <pre><code class="bash">Worker: {{worker}}
Container: {{update.container.name}}</code></pre>
        <h5>Results</h5>
        <pre><code class="bash">{{json2string result}}</code></pre>
        <h5>Parameters</h5>
        <pre><code class="bash">{{onlyVariableParams parameters}}</code></pre>
        <h5>Results Folder</h5>
        <pre><code class="bash">{{update.container.results_folder}}</code></pre>
        {{#if update.container.graphs }}
          <h5>Graphs</h5>
          {{#each graph in update.container.graphs }}
            {{> resultgraph graph=graph _id=_id graphIdx=@index}}
          {{/each}}
        {{/if}}
        <h5>Log Tail</h5>
        <pre><code class="bash">{{update.container.logs}}</code></pre>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</template>
